
.bg-img {
  background: url('https://i.travelapi.com/lodging/1000000/60000/54200/54173/f7e5ef90_z.jpg'), lightgray 50% / cover no-repeat;
  width: 100%;
  height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


form {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 5px;
  flex-wrap: wrap;
}


#save {
  background: #FACE34;
  border: none;
  border-radius: 5px;
  padding: 1rem 1.2rem;
  font-weight: bolder;
  font-size: large;
}

#save:hover {
  background-color: #f8bc30;
}

h5 {
    display:inline-block;
    flex-direction: row;
}